<footer class="dis">
  <div class="conteiner__footer">
    <h3>YOU CAN ALSO FIND ME ON</h3>
  </div>
  <div class="conteiner__icon">
    <!-- <a class="link--icon" href="">
      <svg class="icon" width="20" height="20">
        <use href="./images/iconsvg.svg#icon-envelope"></use>
      </svg>
    </a> -->
    <ul class="contact--title">
      <!-- <li class="icon--item">
        <a class="link--icon" href="">
          <svg class="icon" width="20" height="20">
            <use href="./images/iconsvg.svg#icon-smartphone"></use>
          </svg>
        </a>
      </li> -->
      <li class="icon--item">
        <a
          class="link--icon"
          href="https://www.linkedin.com/in/%D1%85%D1%80%D1%96%D0%BC%D0%BB%D1%96-%D0%B2%D1%96%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87-352a2a23b/"
        >
          <svg class="icon" width="20" height="20">
            <use href="./images/iconsvg.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="icon--item">
        <a class="link--icon" href="https://github.com/ViktorHrimli">
          <svg class="icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="icon--item">
        <a class="link--icon" href="https://t.me/viktorSoFar">
          <svg class="icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
