<header>
  <div class="conteiner">
    <div class="conteiner__header">
      <a href="">
        <h1>Viktor Hrimli</h1>
      </a>
      <p>Frontend Developer</p>
    </div>
    <div class="conteiner__nav">
      <p>Portfolio</p>
      <p>Contact</p>
    </div>
  </div>
  <div class="conteiner__title">
    <div class="conteiner__img">
      <img
        src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=995,fit=crop/julian4puzz/img-d955QlvzR7hy5nrO.png"
        alt=""
      />
    </div>
    <div class="conteiner__meAll">
      <div class="conteiner__skils">
        <h3>Skils</h3>
        <ul class="skil__list">
          <li>
            <p>HTML</p>
          </li>
          <li>
            <p>CSS</p>
          </li>
          <li>
            <p>SASS</p>
          </li>
          <li>
            <p>Pixel Perfect</p>
          </li>
          <li>
            <p>JS</p>
          </li>
          <li>
            <p>REST API</p>
          </li>
          <li>
            <p>GitHub</p>
          </li>
        </ul>
      </div>
      <div class="conteiner__forme">
        <h3>About me</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem assumenda veritatis numquam enim, perferendis animi
          impedit dolore dolorum maxime similique aut asperiores molestiae in
          non aliquid quis a nisi ipsum.
        </p>
      </div>
      <div class="lerning">
        <h3>What next?</h3>
        <p>lerning REACT and ecosystem this fraimwork. Node.js</p>
      </div>
      <div class="conteiner__btn">
        <button class="btn__works" type="button">Works</button>
        <button class="btn__contact" type="button">Contacts</button>
      </div>
    </div>
  </div>
</header>
