<main id="list" class="main dis">
  <div class="conteiner__portfolio">
    <ul class="portfolio">
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-markup-hw-08/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Finaly project for HTML</p>
      </li>
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-markup-hw-08/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Finaly project for HTML</p>
      </li>
      <li class="card">
        <a href="https://bagetmasta.github.io/filmoteka/">
          <img src="./images/filmoteka.jpg" alt="filmoteka" />
        </a>
        <p>Team project bu JS</p>
      </li>
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-markup-hw-08/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Finaly project for HTML</p>
      </li>
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-markup-hw-08/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Finaly project for HTML</p>
      </li>
    </ul>
  </div>
  <button class="btn__find dis" id="btn" type="button">Contact</button>
</main>
