<main id="list" class="main dis">
  <div class="conteiner__portfolio">
    <ul class="portfolio">
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-markup-hw-08/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Finaly project by HTML</p>
      </li>
      <li class="card">
        <a href="https://vladimirfalx.github.io/icecream-project/">
          <img src="./images/iceCreame.jpg" alt="icecream" />
        </a>
        <p>Finaly project by HTML</p>
      </li>
      <li class="card">
        <a href="https://bagetmasta.github.io/filmoteka/">
          <img src="./images/filmoteka.jpg" alt="filmoteka" />
        </a>
        <p>Team project by JS</p>
      </li>
      <li class="card">
        <a href="https://viktorhrimli.github.io/ViktorHrimli/">
          <img src="./images/MyFilmoteka.jpg" alt="filmoteka" />
        </a>
        <p>My project in free time</p>
      </li>
      <li class="card">
        <a href="https://viktorhrimli.github.io/goit-react-hw-02-phonebook/">
          <img src="./images/webStudio.jpg" alt="webStudio" />
        </a>
        <p>Last home-work from REACT</p>
      </li>
    </ul>
  </div>
  <button class="btn__find dis" id="btn" type="button">Contact</button>
</main>
